RewriteEngine On

# Admin paneli için URL yönlendirme
RewriteRule ^emlaksendeyonetim/?$ emlaksendeyonetim.html [L]

# Diğer sayfalar için de URL yönlendirmeleri (isteğe bağlı)
RewriteRule ^anasayfa/?$ index.html [L]
RewriteRule ^hizmetler/?$ hizmetler.html [L]
RewriteRule ^kurumsal/?$ kurumsal.html [L]
RewriteRule ^destek/?$ destek.html [L]
RewriteRule ^ilanlar/?$ ilanlar.html [L]
RewriteRule ^ilanlar/?$ ilanlarcopy.html [L]
RewriteRule ^projeler/?$ projeler.html [L]
RewriteRule ^harita/?$ harita.html [L]
